.contact{ 
    margin:auto;
    color: white;
    text-align: center;
    font-size: 15px;   
}
.about{ 
    margin:auto;
    color: white;
    text-align: center;
    font-size: 15px;   
}
.contact p{
    font-size: 18px;
    margin:auto;
    color: white;
    text-align: center;
}
.about ul{
    width: 40%; 
    padding:0;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}
.about p{
    font-size: 18px;
    margin:auto;
    color: white;
    text-align: center;
}
.about li {
    float:left;
    font-size: 18px;
    padding: 4px 80px 2px 2px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    margin:auto;
    color: white;
    text-align: center;
}
a[href^="mailto"] { color: red; }

