/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-apr-2020, 17.36.41
    Author     : Matteo
*/

.contact{ 
    margin:auto;
    color: white;
    text-align: center;
    font-size: 15px;   
}
.about{ 
    margin:auto;
    color: white;
    text-align: center;
    font-size: 15px;   
}
.contact p{
    font-size: 18px;
    margin:auto;
    color: white;
    text-align: center;
    font-size: 15px;  
}

.about ul{
    width: 50%; 
    padding:0;
    margin-left: auto;
    margin-right: auto
}
.about li {
    float:left;
    padding: 4px 80px 2px 2px; 
    margin-left: auto;
    margin-right: auto
}
a[href^="mailto"] { color: red; }

