.sidenav{
    background-color: #a3a3a3;
    width: 20%;
    min-height: 100%;
    float: left;
    margin-left: 0;
}
.products_content {
    width: 73%;
    margin-left: 25%;
    padding-top: 2%;
}
.sidenav ul{
    padding-top: 10%;
    padding-left: 40%;
}
.search_bar{
    width: 100%;
    background: #919191;
}
.search_bar input[type="text"]{
    border: 0;
    background: #919191;
    width: 90%;
    padding: 1% 0;
    outline: none;
    color: white;
    font-size: 250%;
}
.search_bar input[type="submit"]{
    float: right;
    border: 0;
    background: #009eff;
    text-align: center;
    width: 10%;
    padding: 1% 0;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 250%;
}
.products_box{
    margin-top: 1%;
    width: 100%;
    background: #656565;
    text-align: center;
}
