.staffnav_items{
	padding: 7% 3%;
	display: block;
	line-height: 35px;
}
.staffnav_items img{
	display: inline-flex;
    width: 35px;
    height: 35px;
	filter: grayscale(100%) brightness(500%);
    transition: 0.25s;	
}

.staffnav_items a{
	display: inline-flex;
	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	transition: 0.25s;
}

.staffnav_items a,span{
	text-decoration: none;
	color: white;
}
.staffnav_items a:hover {
    color: #00b6ff;
}
.staffnav_items a:hover>img {
    filter: initial;
}

.staff_main{
    width: 100%;
    height: 100%;
    display: flex;
	text-align: left;
}
.staff_sidenav{
    background-color: #a3a3a3;
    width: 20%;
    margin: 0 2%;
}


.side_container{
    margin-top: 1%;
    width: 73%;
    background: #656565;
    text-align: center;
	margin-bottom: 2%;
}
/*Contentuto di side_container (usato per mettere un padding a tutto)*/

.sc_content{
	padding: 0% 3% 3% 3%;
}
.out_prodname{
	display: grid;
	grid-template-columns: 17% 83%;
	grid-column-gap: 10px;
	width: 100%;
}

#sc_title{
	text-align: left;
	color: #008CFF;
	font-size: 50px;
}
#sc_addpic{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.sc_hint{
	color: white;
	font-size: 30px;
	margin: 0;
}

.sc_textinput{
	border: 0;
    background: #ffffff;
	font-size: 20px;
    outline: none;
    color: black;
    border-radius: 10px;
	width: 100%;
	/*padding: 0.5em;*/
	box-sizing : border-box;
	  min-width: 0;
}

#shortdesc.sc_textinput {

}
#price.sc_textinput {

}
#discount.sc_textinput {
	

}
#brand.sc_textinput {
	

}
.alpha{
	margin-top: 10px;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-column-gap: 10px;
	  min-width: 0;
}
.bravo{
	display: grid;
}
.bravo_triple{
	display: grid;
	grid-template-columns: 15% 40% 45%;
	grid-column-gap: 1em;
	  min-width: 0;
}
.bravo_price, .bravo_discount, .bravo_brand{
	width: 100%;
	text-align: left
}
.bravo_desc{
	width: 100%;
	text-align: left;
}
