*{
    font-family: 'Baloo Paaji 2', cursive;

}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #484848;
}

/* Add a black background color to the top navigation */
#topnav {
    width: 100%;
    background-color: #333;
    overflow: hidden;
}
/*logo*/
#topnav img {
    width: 45px;
    height: 45px;
    float: left;
    margin-top: 3px;
}
/*titolo*/
#topnav span{
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
}
#topnav a.homelink {
    float: left;
    padding: 0;
    margin-right: 10%;
    color: #f2f2f2;
}

#topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
#topnav li {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 0px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}
#topnav #account{
    float: right;
    margin-right:5%;
}
/* Change the color of links on hover */
#topnav li:hover{
    background-color: #ddd;
    color: black;
    font-weight: 500;
}
/* Add a color to the active/current link */
#topnav li.active{
    background-color: #009eff ;
    color: white;
}
#topnav #staff,#topnav #admin{
    float: right;
}
#topnav li a {
    padding: 12px 16px;
    color: inherit;
    text-decoration: none;
}

.sticky {
    position: fixed;
    z-index: 994;
    width: 100%;
    top:0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    text-align: left; 
    margin-top: 12px;
    min-width: 140px;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
    display: block;
}
.dropdown-content a:hover {
    color: white !important;
    background-color: #00b6ff;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.main_footer {
    background-color: #202020;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 25px;
    height: 100%;
}

.main_footer a{
    margin-left: 5%;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.linksocial{
    zoom: .3;
}

.main_footer div{
    margin: auto;
    color: white;
    text-align: center;
}
.main_footer a:hover{
    text-decoration: underline;
}

.home_box{
    padding: 0;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    background: #656565;
    text-align: center;
}

#coverpic{
    width: 100%;
    margin: 0;
}

